<!DOCTYPE>
<html>
<head>
  <title>Add</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1 class="text-center">Update</h1>
    <hr><br>
    <form method="post" action="">
      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Tên sản phẩm: </label>
        <input class="col-lg-4" required type="text" id="tenSP" name="tenSP"  value="{{data.tenSP}}">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Đơn giá: </label>
        <input class="col-lg-4" required type="number" id="giaSP" name="giaSP"  value="{{data.giaSP}}">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Số Lượng: </label>
        <input class="col-lg-4" required type="number" id="soluongSP" name="soluongSP" value="{{data.soluongSP}}">
      </div><br>
    <br>
      <div class="text-center">
      <button type="submit" class="btn btn-primary">Update</button>
      </div>

    </form>
  </div>
</body>
</html>
